
@{
    ViewBag.Title = "EmailSent";
}
<div class="row vertical-center">
    <div class="col-md-8 middle-center">
        <section class="loginForm">
        <h2>Ověřovací email byl zaslán na adresu @ViewBag.Email</h2>
            @Html.ActionLink("Zaslat znovu ověřovací email", "ResendVerifyEmail", new { ViewBag.Email });
            @Html.ActionLink("Vrátit se na hlavní stránku", "Index", "Home");
        </section>
        </div>
    </div>

