
@{
    ViewBag.Title = "ResendVerifyEmail";
}

<div class="row vertical-center">
    <div class="col-md-8 middle-center">
        <section class="loginForm">
            <h2>Email je již ověřený</h2>
            @Html.ActionLink("Vrátit se na hlavní stránku", "Index", "Home");
        </section>
    </div>
</div>

